<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="consentFormPage" class="consent-form-page">
        <h2>PARTICIPANT INFORMATION SHEET & CONSENT FORM</h2>
        <div class="consent-form-content">
            <!-- Add all the consent form content here -->
            <p>Please read through the following information before deciding whether to register for this study.</p>
            <!-- Include all sections from your provided content -->
            <h1>1. Protocol Title</h1>
            <p>AI-assisted decision making in a word guessing game</p>

            <h1>2. Principal Investigator and co-investigator(s)</h1>
            <p>Principal Investigator: Lee Yi-Chieh, NUS School of Computing, yclee@nus.edu.sg</p>
            <p>Co-Investigators: Xu Zhengtao, NUS School of Computing, xuzhengtao@u.nus.edu</p>

            <h1>3. What is the purpose of this research? </h1>
            <p>You are invited to participate in a research study. This information sheet provides you with information 
                about the research study. The Principal Investigator (the person in charge of this research) or his/her 
                representative will also describe this research to you and answer all of your questions. Read the information 
                below and ask questions about anything you don't understand before deciding whether or not to take part.
                This study aims to investigate the user experience and behavior in an AI-assisted word guessing game.  
            </p>

            <h1>4. Who can participate in the research? What is the expected duration of my participation? What is the duration of this research?</h1>
            <p>All adults aged 21 and above with access to a computer with internet access are eligible to participate. 
                Each participant will be required to spend around 30 min. The duration of the study as a whole is Nov. 2023 - Nov. 2024.
            </p>

            <h1>5. What is the approximate number of research participants involved?</h1>
            <p>300 participants in total.</p>

            <h1>6. What will be done if I take part in this research study?</h1>
            <p>You will participate in a word guessing game assisted by AI and you will not be asked to 
                send voice messages or other forms of media such as images. You may be asked to answer some questions or 
                complete a survey, but you will not be asked to provide any personally identifiable information.</p>

            <h1>7. How will my privacy and the confidentiality of my research records be protected?</h1>
            <p>Only the principal investigator and co-investigator have your personal data (e.g. contact information),
               and this will not be released to any other person, including other members of the research team. 
               Personal data will never be used in a publication or presentation. All identifiable research data will be coded 
               (i.e. only identified with a code number) at the earliest possible stage of the research. Personal data will be 
               discarded within 1 months of your participation in the study.<br>
               All data collected will be kept in accordance with the University's Research Data Management Policy. 
                Research data used in any publication will be kept for a minimum of 10 years before being discarded.</p>

            <h1>8. What are the possible discomforts and risks for participants?</h1>
            <p>No specific physical or mental discomforts or risks are anticipated.</p>

            <h1>9. What is the compensation for any injury?</h1>
            <p>As this is a remote study that you can complete on a computer at any place of your choosing, no injury is expected.</p>
            
            <h1>10. Will there be reimbursement for participation?</h1>
            <p>Participants completing the task and surveys will be compensated with £3.75. </p>

            <h1>11. What are the possible benefits to me and to others?</h1>
            <p>There is no direct benefit to you by participating in this research study. The knowledge gained may benefit the public in the future.</p>
            
            <h1>12. Can I refuse to participate in this research?</h1>
            <p>Yes, you can. Your decision to participate in this research study is voluntary and completely up to you. 
                You can also withdraw from the research at any time without giving any reasons, by informing the principal 
                investigator and all your data collected will be discarded.</p>
            
            <h1>13. Whom should I call if I have any questions or problems?</h1>
            <p>Please contact the Principal Investigator, Lee Yi-Chieh, at email: yclee@nus.edu.sg for all research-related 
                matters and in the event of research-related injuries.<br>
                For an independent opinion specifically regarding the rights and welfare of research participants, you may 
                email at socderc@comp.nus.edu.sg.</p>

            <p>Principal Investigator with the contact number and organization: <br>
                Lee Yi-Chieh, NUS School of Computing, yclee@nus.edu.sg, +65 91951214</p>

            <h1>Consent</h1>
            <p>I hereby acknowledge that:<br>
                1. I have agreed to take part in the above research.<br>
                2. I have received a copy of this information sheet that explains the use of my data in thisresearch. I understand its contents and agree to donate my data for the use of this research.<br>
                3. I can withdraw from the research at any point of time by informing the Principal Investigator and all my data will be discarded.<br>
                4. I will not have any financial benefits that result from the commercial development of this research.<br>
                5. I agree to be re-contacted for future related studies. I understand that future studies will be subject to an Institutional Review Board's approval.<br>
            </p>

            <div class="consent-acknowledgment">
                <input type="checkbox" id="consentCheckbox">
                <label for="consentCheckbox">I acknowledge that I have read and agree to the above terms.</label>
            </div>
            <button id="proceedButton" class="btn" disabled>Proceed to Study</button>
        </div>
    </div>

    <!-- 实验介绍指导 -->
    <div id="introSection" class="intro-section" style="display: none;">
        <h2>User Study for AI-Assisted Decision Making</h2>
        <p>Welcome to our AI-Assisted Decision Making Study!</p>
        <p>In this study, you will play a simplified version of the popular board game "Codenames" with AI assistance. AI will give you suggestions with or without uncertainty to aid your decision making.</p>
        <p>In this special version of "Codenames", you will play solo with the system. The system acts as the "Codemaster", providing clues comprising a word (clue) and a corresponding number of words associated with it. Your task is to select the most relevant words based on the clue, with the AI acting as a Suggester.</p>
        <p>Note 1: Do not refresh the page while the study is in progress!</p>
        <p>Note 2: For each decision, you must think for at least 10 seconds before clicking the submit button.</p>
        <div class="image-container">
            <img src="../static/procedure.png" alt="Experiment Flowchart" class="centered-image">
        </div>
        <button id="startLearning" class="btn">Start Learning</button>
    </div>

    <!-- 游戏规则介绍界面 -->
    <div id="gameRulesSection" class="game-rules-section" style="display: none;">
        <h2>Game Rules Introduction</h2>
        <div class="video-container">
            <video id="gameRulesVideo" controls>
                <source src="../static/rules_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <button id="endOfVideoButton" class="btn">Continue</button>
    </div>

    <!-- quiz界面 -->
    <div id="rulesQuizSection" class="rules-quiz-section" style="display: none;">
        <h1>Game Rules Quiz</h1>
        <h3>Answer the following questions to test your understanding of the game rules.</h3>
        
        <!-- Question 1 -->
        <div class="question-container">
            <p class="question-title">How many words must the Word Guesser identify if the given clue is "vehicle, 2"?</p>
            <div class="options-container">
                <label class="option"><input type="radio" name="question1" value="A"> 1</label>
                <label class="option"><input type="radio" name="question1" value="B"> 2</label>
                <label class="option"><input type="radio" name="question1" value="C"> 3</label>
            </div>
        </div>
    
        <!-- Question 2 -->
        <div class="question-container">
            <p class="question-title">If the clue is "red, 1", which word should you choose as the most relevant?</p>
            <div class="options-container">
                <label class="option"><input type="radio" name="question2" value="A"> Cherry</label>
                <label class="option"><input type="radio" name="question2" value="B"> Ocean</label>
                <label class="option"><input type="radio" name="question2" value="C"> Grass</label>
            </div>
        </div>

        <div class="question-container">
            <p class="question-title">How accurate are the AI Advisor's suggestions?</p>
            <div class="options-container">
                <label class="option"><input type="radio" name="question3" value="A"> 100% accurate; they should be followed without question.</label>
                <label class="option"><input type="radio" name="question3" value="B"> Potentially inaccurate; they should be considered but not relied upon completely.</label>
                <label class="option"><input type="radio" name="question3" value="C"> Always incorrect; they are meant to intentionally mislead the player.</label>
            </div>
        </div>

        <div class="question-container">
            <p class="question-title">If the AI Advisor suggests a word that doesn't seem to fit the clue, what should the player do?</p>
            <div class="options-container">
                <label class="option"><input type="radio" name="question4" value="A"> Always follow the AI Advisor's suggestion, since it is part of the game's design.</label>
                <label class="option"><input type="radio" name="question4" value="B"> Ignore the clue and guess based on their own knowledge.</label>
                <label class="option"><input type="radio" name="question4" value="C"> Use their own judgment in combination with the AI's suggestion to make the best guess.</label>
            </div>
        </div>
        
        <!-- Submit button -->
        <button id="submitQuiz" class="btn">Submit Answers</button>
        
        <!-- Feedback Text -->
        <p id="quizFeedback" class="feedback-text"></p>
    </div>

    <!-- 过渡页面 1 -->
    <div id="transitionSection1" class="transition-section" style="display: none;">
        <h2>Get Ready for Warm-Up</h2>
        <p>Great job on completing the quiz! You're now ready to proceed to the warm-up round. Use this round to familiarize yourself with the game and AI's capability. Enter your prolific ID to get a code to proceed. </p>
        
        <div class="code-input-container">
            <input type="text" id="idInput" class="code-input" placeholder="Enter Your ID">
            <button id="generateCode" class="btn">Generate Code</button>
        </div>
        <p id="codeDisplay"></p>
        <div class="code-input-container">
            <input type="text" id="codeInput" class="code-input" placeholder="Enter Code">
            <button id="startWarmup" class="btn">Proceed to Warm-Up</button>
        </div>
    </div>

    <!-- AI accuracy页面 -->
    <div id="aiAccuracySection" class="ai-accuracy-section" style="display: none;">
        <div class="ai-accuracy-container">
            <div class="image-container">
                <img src="../static/AI_robot.png" alt="AI Accuracy" class="ai-accuracy-image">
            </div>
            <div id="speechBubble" class="speech-bubble">
                <p id="accuracyText">Hi! I'm your AI suggester. My suggestion accuracy is</p>
                <h3 id="accuracyPercentage">Error!</h3>
            </div>
        </div>
        <button id="continueToWarmup" class="btn">Continue</button>
    </div>

    <!-- 热身实验页面 -->
    <div id="warmupSection" class="main-content" style="display: none;">
        <div class="title-progress-container">
            <div class='title'>
                <h1>Warm-Up Round</h1>
            </div>
            <span id="warmupProgressText" class="progress-text">Progress: 1/5</span>
        </div>

        <div class="clue-container">
            <div class="clue">
                <span class="clue-title">Clue:</span>
                <span id="warmupclueText">[clue]</span>
            </div>
            <div class="word-num">
                <span class="word-num-title">Word Num:</span>
                <span id="warmupwordCount">[num]</span>
            </div>
        </div>
        
        <div id="firstRoundSelections1" class="first-round-selections">
            <h3>Your first Selections:</h3>
            <div id="selectedWordsList1" class="selected-words-list"></div>
        </div>

        <div class="game-container">
            <div class="word-grid-container">
                <div id="warmupWordGrid" class="word-grid">
                    <!-- 词汇将在这里显示 -->
                </div>
                <div class="submission-feedback-container">
                    <button id="warmupSubmitWords" class="sbtn">submit</button>
                    <div id="warmfeedbackContainer" class="feedback-container" style="display: none;">
                        <span id="warmfeedbackText"></span>
                    </div>
                </div>                
            </div>
            
            <div class="ai-container">
                <img src="../static/AI_robot.png" alt="AI Robot" class="ai-robot-image">
                <div id="warmupchatBox" class="chat-box">
                    <!-- AI提示信息将在这里显示 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Accuracy Rate Section -->
    <div id="accuracyRateSection" class="ai-accuracy-section" style="display: none;">
        <div class="ai-accuracy-container">
            <div class="image-container">
                <img src="../static/AI_robot.png" alt="AI Accuracy" class="ai-accuracy-image">
            </div>
            <div id="speechBubble" class="speech-bubble">
                <p id="accuracyText">Good job! Your accuracy rate is:</p>
                <h3 id="accuracyRate"></h3>
            </div>
        </div>
        <button id="proceedAfterAccuracy" class="btn">Continue</button>
    </div>

    <!-- 过渡页面 2 -->
    <div id="transitionSection2" class="transition-section" style="display: none;">
        <h2>Prepare for the Official Game</h2>
        <p>Take this moment to relax and clear your mind. The upcoming rounds will challenge your decision-making skills and intuition.</p>
        <ul class="tips-list">
            <li><strong>Focus:</strong> Pay close attention to the clues and words. Every detail matters.</li>
            <li><strong>Strategy:</strong> Develop a strategy for your guesses. Remember, the AI's suggestions are just recommendations, they might not be correct!</li>
            <li><strong>Pace Yourself:</strong> While there's no time limit, it's important to balance speed with careful consideration.</li>
            <li><strong>Feedback:</strong> Your input is valuable. Post-round, share your thoughts on the AI's performance and your decision-making process.</li>
            <li><strong>Bonus Rewards:</strong> In addition to the basic experimental rewards, we offer <strong>extra rewards</strong> based on the accuracy of each participant.</li>
            <li><strong>Enjoy:</strong> Above all, enjoy the game! Your engagement and enjoyment are crucial to this experiment.</li>
        </ul>
        <p>When you're ready to dive into the official rounds, press the button below.</p>
        <button id="startMainExperiment" class="btn">Start Game</button>
    </div>

    <!-- 主实验页面， 最初不可见 -->
    <div id="mainContent" class="main-content" style="display: none;">
        <div class="title-progress-container">
            <div class='title'>
                <h1>Official Round</h1>
            </div>
            <span id="mainProgressText" class="progress-text">Progress: 1/15</span>
        </div>

        <div id="timerContainer" class="timer-container">
            Timer: <span id="mainTime">00:00</span>
        </div>
    
        <div class="clue-container">
            <div class="clue">
                <span class="clue-title">Clue:</span>
                <span id="clueText">[clue]</span>
            </div>
            <div class="word-num">
                <span class="word-num-title">Word Num:</span>
                <span id="wordCount">[num]</span>
            </div>
        </div>

        <div id="firstRoundSelections2" class="first-round-selections">
            <h3>Your first Selections:</h3>
            <div id="selectedWordsList2" class="selected-words-list"></div>
        </div>
    
        <div class="game-container">
            <div class="word-grid-container">
                <div id="wordGrid" class="word-grid">
                    <!-- 词汇将在这里显示 -->
                </div>
                <div class="submission-feedback-container">
                    <button id="submitWords" class="sbtn">submit</button>
                    <div id="feedbackContainer" class="feedback-container" style="display: none;">
                        <span id="feedbackText"></span>
                    </div>
                </div>  
            </div>

            <div class="ai-container">
                <img src="../static/AI_robot.png" alt="AI Robot" class="ai-robot-image">
                <div id="chatBox" class="chat-box">
                    <!-- AI提示信息将在这里显示 -->
                </div>
            </div>
        </div>
    </div>
    
    <div id="questionnaireSection1" class="questionnaire-section" style="display: none;">
        <div class="previous-selections-container">
            <h3>Previous Selections</h3>
            <h4>(first round / second round)</h4>
            <div id="previousSelections1">
                <div class="set-info-container">
                    <p id="recall1">Set1:</p>
                    <span class="info-icon" onclick="showPopup(1)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall2">Set2:</p>
                    <span class="info-icon" onclick="showPopup(2)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall3">Set3:</p>
                    <span class="info-icon" onclick="showPopup(3)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall4">Set4:</p>
                    <span class="info-icon" onclick="showPopup(4)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall5">Set5:</p>
                    <span class="info-icon" onclick="showPopup(5)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall6">Set6:</p>
                    <span class="info-icon" onclick="showPopup(6)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall7">Set7:</p>
                    <span class="info-icon" onclick="showPopup(7)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall8">Set8:</p>
                    <span class="info-icon" onclick="showPopup(8)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall9">Set9:</p>
                    <span class="info-icon" onclick="showPopup(9)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall10">Set10:</p>
                    <span class="info-icon" onclick="showPopup(10)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall11">Set11:</p>
                    <span class="info-icon" onclick="showPopup(11)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall12">Set12:</p>
                    <span class="info-icon" onclick="showPopup(12)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall13">Set13:</p>
                    <span class="info-icon" onclick="showPopup(13)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall14">Set14:</p>
                    <span class="info-icon" onclick="showPopup(14)">🛈</span>
                </div>
                <div class="set-info-container">
                    <p id="recall15">Set15:</p>
                    <span class="info-icon" onclick="showPopup(15)">🛈</span>
                </div>
            </div>
        </div>
        <iframe id="qualtrics-survey1" src="https://nus.syd1.qualtrics.com/jfe/form/SV_eya68MSrw88PHSK"></iframe>
        <!-- <button id="continueExperiment" class="btn">Continue</button> -->

    </div>
    
    <div id="popupWindow" class="popup-window" style="display:none;">
        <div class="popup-content">
            <span id="closePopup" class="close-popup" onclick="closePopup()">&times;</span>
            <p id="popupClue">Clue Info</p>
            <p id="popupAiSuggestion">AI Suggestion Info</p>
        </div>
    </div>


    <script>
        
        let currentSet = -5; // 假定热身实验从 -5 开始
        let allSelections = [];
        let warmupAccuracyRate1 = 0;
        let warmupAccuracyRate2 = 0;
        let AccuracyRate1 = 0;
        let AccuracyRate2 = 0;


        document.addEventListener('DOMContentLoaded', function() {
            const consentCheckbox = document.getElementById('consentCheckbox');
            const proceedButton = document.getElementById('proceedButton');

            consentCheckbox.addEventListener('change', function() {
                proceedButton.disabled = !this.checked; // Enable the button if the checkbox is checked
            });

            proceedButton.addEventListener('click', function() {
                document.getElementById('consentFormPage').style.display = 'none'; // Hide consent form
                document.getElementById('introSection').style.display = 'block';
            });
        });

        document.getElementById('startLearning').addEventListener('click', function() {
            document.getElementById('introSection').style.display = 'none';
            // document.getElementById('transitionSection').style.display = 'none';
            document.getElementById('gameRulesSection').style.display = 'block';
        });
        
        // 要求看到75%视频之后才能显示跳过按钮
        document.addEventListener('DOMContentLoaded', function() {
            const video = document.getElementById('gameRulesVideo');
            const endOfVideoButton = document.getElementById('endOfVideoButton');

            // Initially hide the button
            endOfVideoButton.style.display = 'none';

            // Add event listener to the video
            video.addEventListener('timeupdate', function() {
                const percentage = (video.currentTime / video.duration) * 100;

                // Check if the video has played 75%
                if (percentage > 90) {
                    endOfVideoButton.style.display = 'block'; // Show the button
                }
            });
        });

        document.getElementById('endOfVideoButton').addEventListener('click', function() {                   
            document.getElementById('gameRulesSection').style.display = 'none';
            document.getElementById('rulesQuizSection').style.display = 'block';
        });


        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('submitQuiz').addEventListener('click', function() {
                // Get the user's answers
                const answer1 = document.querySelector('input[name="question1"]:checked').value;
                const answer2 = document.querySelector('input[name="question2"]:checked').value;
                const answer3 = document.querySelector('input[name="question3"]:checked').value;
                const answer4 = document.querySelector('input[name="question4"]:checked').value;
                // Repeat for other questions...

                // Check the answers
                let allCorrect = true;
                if (answer1 !== "B" || answer2 !== "A" || answer3 !== "B" || answer4 !== "C") {
                    allCorrect = false;
                }

                // Provide feedback
                const feedbackText = document.getElementById('quizFeedback');
                if (allCorrect) {
                    feedbackText.textContent = "All answers are correct! You may proceed.";
                    feedbackText.style.color = "green";
                    // Redirect to warmup section or enable the button/link to proceed
                    document.getElementById('rulesQuizSection').style.display = 'none';
                    document.getElementById('transitionSection1').style.display = 'block';
                    
                } else {
                    feedbackText.textContent = "Some answers are incorrect. Please try again.";
                    feedbackText.style.color = "red";
                    // Optionally, highlight the incorrect answers or provide more detailed feedback
                }
            });
        });
        
        var userId;

        document.getElementById('generateCode').addEventListener('click', function() {
            userId = document.getElementById('idInput').value;
            var codeDisplay = document.getElementById('codeDisplay');

            if (userId.trim() === '') {
                idInput.style.borderColor = 'red'; // Change border color to red
            } else {
                // 如果输入不为空，则生成代码
                var generatedCode = generateCode();
                codeDisplay.style.color = 'black'; // 重置文本颜色
                codeDisplay.innerText = "Your Code is: " + generatedCode;
            }
        });

        function generateCode() {
            var codes = ['v7jw9', 'okd82', 'ps1fj', 'ds8hd', 'o39dp', 'duxn3'];
            var currentTime = new Date().getTime(); // 获取当前时间的毫秒数
            var randomFactor = Math.random() * currentTime; // 将时间与随机数结合

            var randomIndex = Math.floor(randomFactor % codes.length); // 使用取模确保索引在数组范围内
            var selectedCode = codes[randomIndex];
            return selectedCode;
        }

        let level; // This will hold the level based on the code
        let accuracy;

        document.getElementById('startWarmup').addEventListener('click', function() {
            var codeInput = document.getElementById('codeInput');
            var code = codeInput.value;
            var validCodes = ['v7jw9', 'okd82', 'ps1fj', 'ds8hd', 'o39dp', 'duxn3'];

            if (validCodes.includes(code)) {
                // Code is valid, proceed with setting the global variable and moving to the next section
                // Example: setting the global variable 'level'
                if (code === 'v7jw9'){
                    level = 'Low';
                    accuracy = 'high';
                } else if (code === 'okd82'){
                    level = 'Medium';
                    accuracy = 'high';
                } else if (code === 'ps1fj'){
                    level = 'High';
                    accuracy = 'high';
                } else if (code === 'ds8hd'){
                    level = 'Low2';
                    accuracy = 'low';
                } else if (code === 'o39dp'){
                    level = 'Medium2';
                    accuracy = 'low';
                } else if (code === 'duxn3'){
                    level = 'High2';
                    accuracy = 'low';                
                }
                // Proceed to the next page if code is valid
                // Replace 'nextPage' with the actual ID of the next section or page you want to show
                document.getElementById('accuracyPercentage').innerText = accuracy;
                document.getElementById('aiAccuracySection').style.display = 'block';
                document.getElementById('transitionSection1').style.display = 'none';
                loadWords(currentSet); // 加载第一组热身单词和线索

            } else {
                codeInput.placeholder = 'Invalid Code'; // Change placeholder to show error
                codeInput.style.borderColor = 'red'; // Change border color to red
                codeInput.value = ''; // Clear the input field
            }
        });

        document.getElementById('continueToWarmup').addEventListener('click', function() {
            // Hide the AI accuracy section
            document.getElementById('aiAccuracySection').style.display = 'none';
            // Show the warmup section
            document.getElementById('warmupSection').style.display = 'block';
        });
        
        function calculateAccuracy1(setNumber) {
            return new Promise((resolve, reject) => {
                fetch(`/get_answers/${setNumber}`)
                    .then(response => response.json())
                    .then(correctAnswers => {
                        let userSelections = allSelections.find(selection => selection.set === setNumber).firstRound;
                        let correctCount = userSelections.filter(word => correctAnswers.includes(word)).length;
                        let accuracyRate = (correctCount / correctAnswers.length) * 100;
                        resolve(accuracyRate); // 使用 resolve 返回正确率
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        reject(error); // 使用 reject 处理错误情况
                    });
            });
        }

        function calculateAccuracy2(setNumber) {
            return new Promise((resolve, reject) => {
                fetch(`/get_answers/${setNumber}`)
                    .then(response => response.json())
                    .then(correctAnswers => {
                        let userSelections = allSelections.find(selection => selection.set === setNumber).secondRound;
                        let correctCount = userSelections.filter(word => correctAnswers.includes(word)).length;
                        let accuracyRate = (correctCount / correctAnswers.length) * 100;
                        resolve(accuracyRate); // 使用 resolve 返回正确率
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        reject(error); // 使用 reject 处理错误情况
                    });
            });
        }

        document.getElementById('proceedAfterAccuracy').addEventListener('click', function() {
            // Proceed to the next section after showing the accuracy rate
            document.getElementById('accuracyRateSection').style.display = 'none';
            document.getElementById('transitionSection2').style.display = 'block';
        });

        document.getElementById('startMainExperiment').addEventListener('click', function() {
            document.getElementById('transitionSection2').style.display = 'none';
            document.getElementById('mainContent').style.display = 'block';
            currentSet = 1; // 正式实验开始时设置为 1
            loadWords(currentSet); // 加载第一组正式实验的单词和线索
        });

        let mainInterval;  // 全局变量，用于追踪计时器的状态
        let mainSeconds = 0;  // 记录计时器秒数

        function startMainTimer() {
            clearInterval(mainInterval); // 清除之前的计时器（如果有）
            mainSeconds = 0;
            showSubmitButton(false);

            mainInterval = setInterval(() => {
                mainSeconds++;
                document.getElementById('mainTime').textContent = formatTime(mainSeconds);
                // 当计时器达到或超过10秒时，显示submit按钮
                if (!firstChoiceMade && mainSeconds >= 10) {
                    showSubmitButton(true);
                }
            }, 1000);
        }

        function formatTime(seconds) {
            let mins = Math.floor(seconds / 60);
            let secs = seconds % 60;
            return `${mins.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;
        }

        let firstChoiceMade = false;

        // Show or hide AI hints
        function showAiHints(show) {
            const aiContainers = document.querySelectorAll('.ai-container .chat-box');
            aiContainers.forEach(container => {
                container.style.display = show ? 'block' : 'none';
            });
        }

        // Show or hide submit buttoon
        function showSubmitButton(show) {
            // 获取所有submit按钮的引用，这里假设你已经给这些按钮设置了特定的类名或id
            const submitButtons = document.querySelectorAll('.sbtn'); // 假设所有相关的submit按钮都有一个共同的类名"submit-btn"

            // 遍历所有按钮并根据参数show的值来显示或隐藏它们
            submitButtons.forEach(button => {
                button.style.display = show ? 'block' : 'none';
            });
        }


        function loadWords(setNumber) {
            // 更新热身游戏进度显示
            if (currentSet < 0) {
                let warmupProgress = Math.abs(currentSet + 6); // 由于currentSet从-5开始
                document.getElementById('warmupProgressText').textContent = `Progress: ${warmupProgress}/5`;
            } else if (currentSet >= 1) {
                document.getElementById('mainProgressText').textContent = `Progress: ${currentSet}/15`;
            }

            startMainTimer(); // 只有在正式实验部分才启动计时器

            showAiHints(false); //一开始不显示hints
            firstChoiceMade = false;

            fetch(`/get_words/${setNumber}`)
                .then(response => response.json())
                .then(words => {0
                    let wordGridId = currentSet < 0 ? 'warmupWordGrid' : 'wordGrid';
                    let grid = document.getElementById(wordGridId);
                    grid.innerHTML = ''; // 清除现有的单词
                    words.forEach(word => {
                        let cell = document.createElement('div');
                        cell.className = 'word-cell';
                        cell.textContent = word;
                        cell.onclick = function() {
                            this.classList.toggle('selected');
                        };
                        grid.appendChild(cell);
                    });
                })
                .catch(error => console.error('Error:', error));

            loadClues(setNumber); // 同时加载线索和单词数量
            // loadAiHint(setNumber); // 加载AI提示
        }

        function displayFirstRoundSelections(selectedWords) {
            let selectedWordsList;

            if (currentSet < 0) {
                selectedWordsList = document.getElementById('selectedWordsList1');
            } else {
                selectedWordsList = document.getElementById('selectedWordsList2');
            }
            selectedWordsList.innerHTML = selectedWords.join(', ');
        }

        function resetWordSelections() {
            document.querySelectorAll('.word-cell.selected').forEach(cell => {
                cell.classList.remove('selected');
            });
        }

        function loadClues(setNumber) {
            fetch(`/get_clue/${setNumber}`)
                .then(response => response.json())
                .then(clues => {
                    if(clues.length >= 2) {
                        let clueTextId = currentSet < 0 ? 'warmupclueText' : 'clueText';
                        let wordCountId = currentSet < 0 ? 'warmupwordCount' : 'wordCount';
                        document.getElementById(clueTextId).textContent = clues[0];
                        document.getElementById(wordCountId).textContent = clues[1];
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function handleSubmit() {
            let selectedWords = [];
            document.querySelectorAll('.word-cell.selected').forEach(cell => {
                selectedWords.push(cell.textContent);
            });

            let timeTaken = mainSeconds;

            // Fetch the clue's word count
            let wordCountId = currentSet < 0 ? 'warmupwordCount' : 'wordCount';
            let requiredWordsCount = parseInt(document.getElementById(wordCountId).textContent, 10);

            // Check if the selected words match the required count
            // console.log(selectedWords);
            // console.log(requiredWordsCount);
            if (selectedWords.length !== requiredWordsCount) {
                alert(`Please select exactly ${requiredWordsCount} words as per the clue.`);
                return; // Exit the function without submitting
            }


            if (!firstChoiceMade) {
                // Store the first round selections
                displayFirstRoundSelections(selectedWords);
                allSelections.push({ set: currentSet, firstRound: selectedWords, time_taken1: timeTaken, secondRound: [], time_taken2: 0});

                // Reset the selections
                resetWordSelections();

                // Player makes the first choice
                showAiHints(true); // Show AI hints after first choice
                loadAiHint(currentSet); // 加载AI提示
                startMainTimer();

                firstChoiceMade = true; // Update the flag
            } else {
                let currentSelection = allSelections.find(selection => selection.set === currentSet);
                if (currentSelection) {
                    currentSelection.secondRound = selectedWords;
                    currentSelection.time_taken2 = timeTaken;
                }

                clearInterval(mainInterval);
                if (currentSet < 0){
                    // 请求正确答案
                    fetch(`/get_answers/${currentSet}`)
                        .then(response => response.json())
                        .then(correctAnswers => {
                            // 假设返回的数据是一个对象，其中包含一个正确答案的列表
                            
                            // console.log(correctAnswers)
                            // console.log(currentSelection)

                            let correctCount = currentSelection.secondRound.filter(word => correctAnswers.includes(word)).length;
                            let warmfeedbackContainer = document.getElementById('warmfeedbackContainer');
                            let warmfeedbackText = document.getElementById('warmfeedbackText');
                            
                            // 判断用户的选择是否全部正确
                            let isCorrect = correctAnswers.length === correctCount;

                            if (isCorrect) {
                                warmfeedbackText.textContent = "Good job! You are correct!";
                                warmfeedbackText.className = 'correct-feedback';
                            } else {
                                warmfeedbackText.textContent = `Wrong! The correct answers are ${correctAnswers.join(", ")}.`;
                                warmfeedbackText.className = 'incorrect-feedback';
                            }
                            document.getElementById('warmupSubmitWords').textContent = 'continue';
                            warmfeedbackContainer.style.display = 'block'; // 显示反馈容器
                        })
                        .catch(error => console.error('Error fetching answers:', error));
                } else{
                    let feedbackContainer = document.getElementById('feedbackContainer');
                    let feedbackText = document.getElementById('feedbackText');
                    
                    feedbackText.textContent = "Your choice is submitted!";
                    feedbackText.className = 'neutral-feedback';

                    document.getElementById('submitWords').textContent = 'continue';
                    feedbackContainer.style.display = 'block'; // 显示反馈容器
                }
                isSubmitState = false; // 更新状态为继续状态

                currentSet++; // 增加set_number
                
            }
        }

        function handleContinue() {
            loadWords(currentSet); // 加载新一组单词和线索
            resetWordSelections();
            document.getElementById('selectedWordsList1').innerHTML = '';
            document.getElementById('selectedWordsList2').innerHTML = '';
            startMainTimer(); 

            // 切换按钮回"Submit"并隐藏反馈容器
            if (currentSet < 0){
                document.getElementById('warmupSubmitWords').textContent = 'submit';
                document.getElementById('warmfeedbackContainer').style.display = 'none';
            }else{
                document.getElementById('submitWords').textContent = 'submit';
                document.getElementById('feedbackContainer').style.display = 'none';
            }
            isSubmitState = true; // 重置状态为提交状态
            if (currentSet == 0) {
                let promises1 = [];
                let promises2 = [];
                for (let set = -5; set <= -1; set++) {
                    promises1.push(calculateAccuracy1(set));
                    promises2.push(calculateAccuracy2(set));
                }

                Promise.all(promises1)
                    .then(accuracyRates => {
                        warmupAccuracyRate1 = accuracyRates.reduce((acc, rate) => acc + rate, 0) / accuracyRates.length;
                    })
                    .catch(error => {
                        // 处理错误情况
                        console.error('Error:', error);
                    });

                Promise.all(promises2)
                    .then(accuracyRates => {
                        warmupAccuracyRate2 = accuracyRates.reduce((acc, rate) => acc + rate, 0) / accuracyRates.length;
                        document.getElementById('accuracyRate').textContent = warmupAccuracyRate2.toFixed(2) + '%';
                        // 如果需要处理 warmupAccuracyRate2，可以在这里进行
                    })
                    .catch(error => {
                        // 处理错误情况
                        console.error('Error:', error);
                    });

                document.getElementById('warmupSection').style.display = 'none';
                // document.getElementById('transitionSection2').style.display = 'block';
                document.getElementById('accuracyRateSection').style.display = 'block';
                    
            } else if (currentSet == 16) {

                let promises1 = [];
                let promises2 = [];

                for (let set = 1; set <= 15; set++) {
                    promises1.push(calculateAccuracy1(set));
                    promises2.push(calculateAccuracy2(set));
                }

                Promise.all(promises1)
                    .then(accuracyRates => {
                        AccuracyRate1 = accuracyRates.reduce((acc, rate) => acc + rate, 0) / accuracyRates.length;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                Promise.all(promises2)
                    .then(accuracyRates => {
                        AccuracyRate2 = accuracyRates.reduce((acc, rate) => acc + rate, 0) / accuracyRates.length;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                document.getElementById('mainContent').style.display = 'none';

                // Prepare selections for the first survey section
                populatePreviousSelections('recall1', prepareSelectionsForSurveySection(1));
                populatePreviousSelections('recall2', prepareSelectionsForSurveySection(2));
                populatePreviousSelections('recall3', prepareSelectionsForSurveySection(3));
                populatePreviousSelections('recall4', prepareSelectionsForSurveySection(4));
                populatePreviousSelections('recall5', prepareSelectionsForSurveySection(5));
                populatePreviousSelections('recall6', prepareSelectionsForSurveySection(6));
                populatePreviousSelections('recall7', prepareSelectionsForSurveySection(7));
                populatePreviousSelections('recall8', prepareSelectionsForSurveySection(8));
                populatePreviousSelections('recall9', prepareSelectionsForSurveySection(9));
                populatePreviousSelections('recall10', prepareSelectionsForSurveySection(10));
                populatePreviousSelections('recall11', prepareSelectionsForSurveySection(11));
                populatePreviousSelections('recall12', prepareSelectionsForSurveySection(12));
                populatePreviousSelections('recall13', prepareSelectionsForSurveySection(13));
                populatePreviousSelections('recall14', prepareSelectionsForSurveySection(14));
                populatePreviousSelections('recall15', prepareSelectionsForSurveySection(15));
                document.getElementById('questionnaireSection1').style.display = 'block';
                
                // 保存最后的结果
                fetch('/save_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ userId: userId, level: level, warmupAccuracy: [warmupAccuracyRate1, warmupAccuracyRate2], Accuracy: [AccuracyRate1, AccuracyRate2], allSelections: allSelections })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    console.log(data);  // Can handle the response here, such as displaying a success message
                })
                .catch(error => console.error('Error:', error));

            }
        }


        let isSubmitState = true; // 按钮的初始状态为提交状态

        // 为主实验的提交按钮添加事件监听器
        document.getElementById('submitWords').addEventListener('click', function() {
            if (isSubmitState) {
                // 处理提交逻辑
                handleSubmit();
            } else {
                // 处理继续逻辑，加载下一轮游戏
                handleContinue();
            }
        });
        // 为热身实验的提交按钮添加事件监听器
        document.getElementById('warmupSubmitWords').addEventListener('click', function() {
            if (isSubmitState) {
                // 处理提交逻辑
                handleSubmit();
            } else {
                // 处理继续逻辑，加载下一轮游戏
                handleContinue();
            }
        });

        // 打字闪烁效果实现
        function typeWriterEffect(text, elementId, typingSpeed, onComplete) {
            let i = 0;
            function typing() {
                if (i < text.length) {
                    document.getElementById(elementId).innerHTML += text.charAt(i);
                    i++;
                    setTimeout(typing, typingSpeed);
                } else {
                    if (onComplete && typeof onComplete === 'function') {
                        onComplete(); // 打字效果完成后调用回调函数
                    }
                }
            }
            typing();
        }


        function loadAiHint(setNumber) {
            fetch(`/get_ai_hint/${setNumber}`)
                .then(response => response.json())
                .then(aiHints => {
                    let chatBoxId = currentSet < 0 ? 'warmupchatBox' : 'chatBox';
                    const chatBox = document.getElementById(chatBoxId);
                    chatBox.innerHTML = ''; // 清空当前的提示信息
                    const hint = aiHints[level];

                    if (hint && hint.length > 0) {
                        chatBox.innerHTML = ''; // 清空当前的提示信息以准备显示新提示
                        typeWriterEffect(hint, chatBoxId, 20, function() {
                            if (firstChoiceMade) {
                                showSubmitButton(true);
                            }
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function prepareSelectionsForSurveySection(sectionNumber) {
            // let startIndex = sectionNumber * 5;
            // let endIndex = sectionNumber * 5 + 15;
            // return allSelections.slice(startIndex, endIndex);
            let index = sectionNumber + 4;
            return allSelections[index]
        }

        function populatePreviousSelections(sectionId, selection) {
            let selectionsContainer = document.getElementById(sectionId);
            selectionsContainer.innerHTML = ''; // Clear previous content

            let para = document.createElement('p');
            para.textContent = `Set ${selection.set}: ${selection.firstRound.join(', ')} / ${selection.secondRound.join(', ')}`;
            selectionsContainer.appendChild(para);
        }

        function showPopup(setNumber) {
            // Fetch clue data
            fetch(`/get_clue/${setNumber}`)
                .then(response => response.json())
                .then(clueData => {
                    document.getElementById('popupClue').textContent = 'Clue: ' + clueData.join(', ');
                })
                .catch(error => console.error('Error fetching clue:', error));

            // Fetch AI hint data
            fetch(`/get_ai_hint/${setNumber}`)
                .then(response => response.json())
                .then(aiHintData => {
                    // Assuming aiHintData is structured in a way that the hint is directly accessible
                    document.getElementById('popupAiSuggestion').textContent = 'AI Suggestion: ' + aiHintData[level];
                })
                .catch(error => console.error('Error fetching AI hint:', error));

            // Display the popup
            document.getElementById('popupWindow').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('popupWindow').style.display = 'none';
        }

    </script>
</body>
</html>
